{% extends 'seller/inc/layout.html' %}
{% block content %}
<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">Orders</a>
							</li>
							<li class="active">Order Details</li>
						</ul><!-- /.breadcrumb -->

						
					</div>

					<div class="page-content">
					

						<div class="page-header">
							<h1>
								Orders
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Check Order Items
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								
							

								<div class="row">
									<div class="col-xs-12">
										

										<!-- <div class="clearfix">
											<div class="pull-right tableTools-container"></div>
										</div> -->
										<div class="table-header">
											Results for All Order Items
										</div>

										<!-- div.table-responsive -->

										<!-- div.dataTables_borderWrap -->
										<div>
											<table id="dynamic-table" class="table table-striped table-bordered table-hover">
												

												<tbody>
													<tr>
														<td colspan="2"><h4>Billing Details</h4></td>
													</tr>
													<form method="post" action="/seller/update_status/{{result.id}}">
														{% csrf_token %}
													<tr>
														<th>Change Status</th>
														<td>
  															<input type="radio" name="status" class="form-field" id="rd1" value="pending" {% if result.status == 'pending' %} checked {% endif %}>Pending

  															<input type="radio" name="status" class="form-field" id="rd2" value="visited"  {% if result.status == 'visited' %} checked {% endif %}>Visited
  															
  															<input type="radio" name="status" class="form-field" id="rd3" value="reschedule"  {% if result.status == 'reschedule' %} checked {% endif %}>Re-schedule

  															<input type="radio" name="status" class="form-field" id="rd2" value="cancel"  {% if result.status == 'cancel' %} checked {% endif %}>Cancel
  															<input type="submit" name="submit" value="update">
														</td>
													</tr>
													<tr>
														<th>ProductId</th>
														<td>{{result.id}}</td>
													</tr>
													<tr>
														<th>Customer Name</th>
														<td>{{result.fname}} {{result.lname}}</td>
													</tr>
													
													<tr>
														<th>Email</th>
														<td>{{result.customer.user.email}}</td>
													</tr>
													<tr>
														<th>Phone</th>
														<td>{{result.phone}}</td>
													</tr>
													<tr>
														<th>Area, City</th>
														<td>{{result.area.area_name}}, {{result.city.city_name}}</td>
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}

{% block scripts %}


<script type="text/javascript">
			
	$('#dynamic-table').DataTable();
				
</script>
{% endblock %}